/*Instructions and whatnot*/
#classic-wrapper {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#classic-wrapper h2 {
  font-size: 18pt;
  margin: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#classic-instructions {
  margin: 3px 0 7px 0;
}

#classic-instructions h3 {
  font-size: 15pt;
  margin: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#classic-instructions p {
  padding: 5px;
  font-size: 14pt;
  margin-top: 2px;
  margin-bottom: 2px;
}

#classic-instructions i.fa {
  font-size: 10pt;
  margin-left: -5px;
  font-style: italic;
}

#classic-instructions i.fa:hover {
  color: #1F75FE;
  cursor: pointer;
}

#classic-instructions em {
  font-weight: 700;
  font-size: 10pt;
}

/*Where the actual game and game controls are*/
#classic-app {
  flex-direction: row;
  font-size: 11pt;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

#classic-status {
  font-size: 14pt;
  display: flex;
  flex: 0 1 100%;
  font-weight: 700;
}

#classic-status * {
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 0px;
}

#classic-status p {
  padding-right: 5px;
}

#classic-status i.fa {
  flex: 1;
}

#classic-status i.fa:hover {
  text-decoration: none;
  cursor: pointer;
}

#classic-clock {
  flex: 35;
  text-align: right;
}

#classic-text {
  font-size: 16pt;
  margin: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  line-height: 1em;
  padding: 5px;
}

#classic-untyped {
  outline-style: none;
}

#classic-untyped:focus {
  border-bottom: 1px solid grey;
}

#classic-typed {
  font-weight: 700;
}

#classic-error {
  display: flex;
  flex: 0 1 100%;
  padding: 5px;
  margin: 10px;
  margin-top: 0px;
  font-size: 14pt;
  font-weight: 700;
  background-color: #ff9994;
}

.fine {
  background: #a0e7a0;
}

.error {
  background: #ff9994;
}

.underline-magic:after {
  display: block;
  content: '';
  border-bottom: 4px solid #c0e7a0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 100%;
}

.underline-magic:hover:after {
  transform: scaleX(1);
}

@media screen and (max-device-width: 500px) {
  #classic-instructions-block {
    height: 60pt;
    overflow: scroll;
  }
}
